@font-face {
    font-family: 'Humble';
    src: url('./fonts/humble.woff2') format('woff2'),
         url('./fonts/humble.woff') format('woff'),
         url('./fonts/Humble.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Megan June';
    src: url('./fonts/megan_june.woff2') format('woff2'),
         url('./fonts/megan_june.woff') format('woff'),
         url('./fonts/Megan_June.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('.fonts/poppins_regular.woff2') format('woff2'),
         url('./fonts/poppins_regular.woff') format('woff'),
         url('./fonts/Poppins_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Freight';
    src: url('.fonts/freight_text_light.woff2') format('woff2'),
         url('./fonts/freight_text_light.woff') format('woff'),
         url('./fonts/freight_text_light.ttf') format('truetype'),
         url('./fonts/Freight_Text_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*** Keyframes - Animations used on navigation bar ***/

@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}



.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

/* Hidden aspects on desktop/otherwise */



@media (min-width: 376px) {
  
    .hamburger-icon-mobile, .home-pics-mobile, .goals-icons-mobile, .certif-container-mobile, 
    .about-makenna-container-mobile, .programs-container-mobile, .skills-container-mobile, 
    .map-mobile, .map-caption-mobile, .social-media-container-mobile {
        display: none !important;
    }
    
  }

/*** ELEMENTS REPEATED ON PAGES ***/

.header-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.logo {
    text-align: center;
    width: 15vw;
    box-sizing: border-box;

    transform: translate(10%, 10%);
  -ms-transform: translate(10%, 10%);
}




.middle {
    position: relative;
    display: inline-block;
    width: 70%;
    text-align: center;
    

    box-sizing: border-box;
    padding-top: 20px 0px; /*top and bottom*/

}

.rectangle-header {
    width: 100%;
    background: linear-gradient(#FFFFFF, #8BE3F2, #6ADBEE,
    #40D1E9, #00C2E2);
}

.MSSheader {
    color: #133A68;
    font-family: "Humble";
    font-size: 7vw;
    
    box-sizing: border-box;
    letter-spacing: 2px;
    margin: 10px 0px; /*top and bottom*/

    
}

.tagline {
    color: black;
    font-family: "Megan June";
    font-size: 4vw;
    letter-spacing: 3px;
    opacity: 0.5;
}

/***  Navigation Bar ** */

.navigation-container {
    box-sizing: border-box;
    padding: 10px 0px;
}
.row {
    box-sizing: border-box;
    padding: 10px 0px; /*top and bottom*/
}

#nav1, #nav2, #nav3, #nav4, #nav5 {

    box-sizing: border-box;
    margin: 0px 5px;
}

#nav1 a, #nav2 a, #nav3 a, #nav4 a, #nav5 a {

    background: linear-gradient(#7ED7E3, #C2D9DD);
    opacity: 75%;
    border-radius: 15px;
    box-shadow: 0px 1px 1px #409AE2;
    
    font-family: "Lucida Grande", bold;
    color: #133A68;
    font-size: 120%;
    text-shadow: 0px 1px 5px #FFFFFF;
    text-decoration: none;
    letter-spacing: 1.5px;

    display: block;
    text-align: center;

    height: 60px;
    line-height: 60px;
}

#nav1 a:hover, #nav2 a:hover, #nav3 a:hover, #nav4 a:hover, #nav5 a:hover {
    font-family: "Lucida Grande", bold;
    color: #133A68;
    font-size: 120%;
    text-shadow: 0px 1px 5px #FFFFFF;
    text-decoration: none;
    letter-spacing: 1.5px;

    display: block;
    text-align: center;

    height: 60px;

    box-shadow: 0px 0px 5px 5px #FEDCAE;

    -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}



@media screen and (max-width: 1170px) {
    .navigation-container {
        display: none !important;
    }
}

/* Responsive small screen nav */

.navigation-container-mobile {
    text-align: center;

    

      box-sizing: border-box;
      padding-bottom: 20px;
    
}

.nav-link {
    font-family: "Megan June", bold;
    color: #133A68;
    font-size: 120%;
    text-shadow: 0px 1px 5px #FFFFFF;
    text-decoration: none;
    letter-spacing: 1.5px;
    
}

.logo-container {
    border: 2px dashed green;
}

.hamburger-icon-mobile {
    position: absolute;
    top: 10px;
    right: 10px;
}





/*** Home Body ***/

#welcome {
    padding: 10px;
}

.home-intro {
    margin: 0 auto;
    width: 100%;
    text-align: center;

    box-sizing: border-box;
    padding: 70px 0px; /*top and bottom*/
}

/*** FOOTER ***/

.footer {
    width: 100%;
    background: linear-gradient(#CFEFF9, #D4F1FA);
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 30px;

    size: 24px;
    letter-spacing: 3px;
    line-height: 40px;
}

.footer a {
    font-family: "Megan June";
    color: #133A68;

}

.come-swim {
    text-align: center;
    font-size: 2vw;

    box-sizing: border-box;

}

.footer-text {
    box-sizing: border-box;
    margin: -10px 0px -10px 0px;
}


.intro-top, .intro-bottom  {
    
    width: 45%;
    margin: 0 auto;
    padding: 50px 0px; /*top and bottom*/
    
    font-family: "Freight";
    font-size: 20px;
    letter-spacing: 2.5px;
    line-height: 25px;
    color: #133A68;
    text-align: left;
}

.home-container-pics {
    width: 100%;
}

.kids-pic {
    box-sizing: border-box;
    padding: 10px 30px; /*10 top and bottom, 30 left and right*/
}

.kids-container {

    width: 100%;
    text-align: center;
    margin: 0 auto;

    background-color: #C4EAF7;

}

.kids-container img {

    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.red-script {
    color: #D0021B;
    font-family: "SignPainter", "HouseScript";
    font-size: 48px;
    text-align: center;
}

.welcome-title {
    
    width: 50%;
    margin: 0 auto;
    padding: 10px 0px; /*top and bottom*/
    
    letter-spacing: 3px;
    

}

.body-top-sandy {
    background: linear-gradient(rgb(245, 223, 191), #FFFFFF);
    box-sizing: border-box;
    padding: 0vw;
    width: 100%;
}

.body-top-ocean {
    background: linear-gradient(#FFFFFF, #CCEDF8);
    box-sizing: border-box;
    padding: 0vw;
    width: 100%;
    text-align: center;
}

.body-bottom-blue {
    background: linear-gradient(#FFFFFF, #08B1E3);
    width: 100%;

    box-sizing: border-box;
    padding: 60px 0px; /*top and bottom*/

}

/*** HOME - GOALS AND SERVICES ***/

.goals-container {
    width: 80%;
    margin: 0 auto; 
    text-align: center;
}

#goals-title {
    border-bottom: 1px solid #4A90E2;
}


.goals-icons {
    box-sizing: border-box;
    padding: 40px 0px;
}

.goals-heading {
    
    font-family: "Megan June";
    font-size: 20px;
    color: #D0021B;
    letter-spacing: 1.5px;
    line-height: 37px;

    text-align: center;
}

.goals-text {

    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 0px;

    font-family: "Poppins";
    font-size: 30px;
    color: #133A68;
    letter-spacing: 1.5px;
    line-height: 25px;

    text-align: center;

}


.services-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;

    box-sizing: border-box;
    padding: 20px 0px;
}

#services-1, #services-2 {
    box-sizing: border-box;
    padding: 55px 0px;
}


#services-1 {
    background: linear-gradient(to right bottom,
    #D1284A 50%, #D0021B 50%);
}

#services-2 {
    background: linear-gradient(to right bottom,
    #4FC0F8 50%, #44B8F8 50%);
}

.services-heading {
    font-family: "SignPainter";
    color: white;
    font-size: 60px;
}

#services-1 a:hover, #services-2 a:hover {
    text-decoration: none;
}

#services-1 h3:hover, #services-2 h3:hover {

    color: #EFEB8B;

}



.makenna-pic-container {
    max-width: 95%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.certif-row {
    font-family: "Megan June";
}

.certif-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#certif-1, #certif-2, #certif-3, #certif-4 {
    width: 50%;
}

.certif-container img {
    width: 75%;
    height: 100wv;
    padding: 30px 0px;
}

/*** PROGRAMS AND PRICES ***/

.programs-title {
    box-sizing: border-box;
    padding: 45px 0px;
}

.programs-container {

    width: 75%;
    margin: 0 auto;
    text-align: center;

    box-sizing: border-box;


}

.programs-row {
    width: 100%;
    margin: 0 auto;
    text-align: center;

}


.programs-heading {
    font-family: "Megan June";
    color: #133A68;
    font-size: 30px;

    box-sizing: border-box;
    padding-top: 30px;

    letter-spacing: 1.25px;
    line-height: 31px;
}

.programs-description {
    font-family: "Poppins";
    color: #4A4A4A;
    font-size: 18px;

    letter-spacing: 1.33px;
    line-height: 23px;
}

.learn-more {
   background-color: transparent;
   border: none;

}

.card {
    font-family: "Poppins";
    color: #133A68;
}

.swimmers-age p {
    margin: 0 auto;
    text-align: center;

    font-family: "Freight";
    color: #133A68;
    font-size: 18px;

    letter-spacing: 1px;
    line-height: 30px;

    box-sizing: border-box;
    padding: 40px 0px;
}

.skills-pic {
    box-sizing: border-box;
    padding: 10px;
}

.skills-container {

    width: 75%;

    margin: 0 auto;
    text-align: center;
}

.skills-heading {
    font-family: "Megan June";
    font-size: 30px;
    color: D0021B;
}

.skills-text {
    font-family: "Poppins";
    color: #133A68;
    font-size: 16px;

    box-sizing: border-box;
    padding: 10px;

    line-height: 20px;
}

.swimmers-age-text {
    font-family: "Poppins";
    color: #133A68;
    font-size: 18px;

    letter-spacing: 2.25px;
    line-height: 30px;
}

.dont-give-up-container {
    background: linear-gradient(to right bottom,
    #F8FCFE 50%, #EAF8FC 50%);
}

.dont-give-up-heading {
    box-sizing: border-box;
    padding: 5px 0px;
}



.seven-lessons-container, .dont-give-up-container {
    text-align: center;

    font-family: "Freight", "Text Light";
    color: #4A4A4A;
    font-size: 18px;

    letter-spacing: 1px;
    line-height: 30px;

    box-sizing: border-box;
    padding: 30px 0px;
}

.seven-lessons-container a {
    text-decoration: none;
    color: #D0021B;
}

.swimming-challenging {
    text-align: left;
}

.patient-and-encouraging {
    text-align: right;
}

.seven-lessons-container {
    background: linear-gradient(to right bottom,
    #FEFBF6 50%, #FBF5EC 50%);
}

.seven-lessons-heading, .dont-give-up-heading {
    font-family: "Megan June";
    color: #D0021B;
    font-size: 30px;
    margin: -5px;
    
}

.seven-lessons-heading {
    font-weight: bold;
}




.policies-container {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
.safety-heading, .scheduling-cancel-heading {
    font-family: "Freight";
    color: #D0021B;
    font-size: 24px;

    padding: 20px 0px;
}

.payment-heading, .payment-deadlines {
    font-family: "Freight";
    color: rgb(148, 190, 99);
    font-size: 24px;

    padding: 20px 0px;
}


.safety-container, .scheduling-cancel-container, .pay-container {

    width: 75%;
    margin: 0 auto;

    font-family: "Freight";
    color: #133A68;
    font-size: 16px;

    letter-spacing: 1.5px;
    line-height: 27px;
}

.tab {
    margin-left: 2em;
    line-height: 30px;
}

.scheduling-cancel-container a {
    color:#D0021B;
    text-decoration: none;
}  









/***ABOUT MAKENNA***/

.about-makenna-background, .contact-me-background {
    text-align: center;
    background: linear-gradient(#F5DFBF, #FFFFFF);
    width: 75%;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 0 auto; 
    box-shadow: -1px 0px 0px (rgb(0, 0, 0, 50));
    padding: 10px;
}

.contact-me-background {
    background: linear-gradient(rgb(245, 223, 191), #FFFFFF);
    display: block;
}

.about-and-contact-background h4 {
    padding-top: 20px;
}




/*** SCHEDULING ***/

#ready-to-book {
    padding-top: 10px;
    padding-bottom: 20px;
}
.scheduling-intro p {
    width: 75%;
    margin: 0 auto;
    text-align: center;

    font-family: "Poppins";
    color: #133A68;
    font-size: 20px;

    letter-spacing: 1.5px;
    line-height: 30px;
}




/*** ABOUT MAKENNA ***/

.about-makenna-text-container {

    padding: 20px;
    padding-top: 0px;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;

}

.about-makenna-text-container p {

    margin: 0 auto;
    max-width: 95%;
    box-sizing: border-box;


    font-family: "Freight";
    size: 20px;
    letter-spacing: 1.5px;
    line-height: 35px;
    color: #133A68;
    text-align: left;
}

/** CONTACT ME **/

.map-container {
    width: 80%;
    margin: 0 auto;

    box-sizing: border-box;
    padding: 20px;
    display: inline-block; 
    min-height: 50vh;
}


.map-container-left {
    width: 45%;
    float: left;
}

.map {
    width: 100%;
    height: 400px;
}

.map-container-right {
    width: 45%;
    height: 20vw;
    float: right;
    margin: 0 auto;


    font-family: "Poppins";
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 31px;

}

.swim-with-us-container {
    width: 100%;
    height: 75%;
    margin: 0 auto;
}

.map-caption {
    position: absolute;
    top: 30;
    right: 0;

}

#map-caption-top {
    font-size: 18px;
    margin: 0 auto;
    color: #133A68;
    font-family: "Poppins";
}

/***Social Media***/

.social-media-container {
    width: 90%;
    margin: 0 auto;

}

#facebook-col img, #twitter-col img, #instagram-col img {
    max-width: 50%;
    max-height: 100wv;
}




/*** Message Form ***/

.form-container {
    width: 75%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;

}

.form-request p {
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 30px;
    margin: 0 auto;

    color: #133A68;
}

.form-bottom {
    box-sizing: border-box;
    padding-left: 100px;
}

.form-bottom label {
    text-align: left;
    display: block;
}

input[type=text], select, textarea {
    
    display: block;
    overflow: auto;
    
    width: 60%;
    height: 3vw;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}

.form-label {
    font-family: "Poppins";
    color: black;
}

#message-body {
    width: 90%;
    height: 25vw;
}

input[type=submit] {
    background: lightgrey;
    border-radius: 10px;
    color: black;

    position: right;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    color:#133A68;
}
 

/** MOBILE DEVICES, portrait and landscape **/

    /* iPhone 8 */
    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px),
    /* iPhone 6,7,8 Plus*/
    screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px),
    /* iPhone X */
    screen 
    and (min-device-width : 375px) 
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3),
    /* iPad */
    screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px),
    /* Galaxy S4 */
    screen 
    and (device-width: 320px) 
    and (device-height: 640px) 
    and (-webkit-device-pixel-ratio: 3),
    /* Galaxy S5 */
    screen 
    and (device-width: 360px) 
    and (device-height: 640px) 
    and (-webkit-device-pixel-ratio: 3) {
    
        /* HIDDEN in screen size */

        .home-container-pics, .goals-icons, .certif-container, .services-container, 
        #goals-title, .skills-container, .programs-container, .navigation-container,
        .about-makenna-background, .map-container {
            display: none !important;
        }

        .logo {
            width: 15%;
            height: 15vw;
            
        }

        .tagline {
            letter-spacing: 0.5px;
            font-size: 50%;
        }

        

        /* HOME-MOBILE */

        .body-top-sandy {
            box-sizing: border-box;
            padding: 0px;
        }

        .home-intro {
            box-sizing: border-box;
            padding: 5vw 0vw;
        }

        .intro-top, .intro-bottom {
            font-size: 4.2vw;
            line-height: 7vw;
        }

        .red-script {
            font-size: 7vw;
        }

        #welcome {
            size: 30px;
        }

        .kids-container img {
            width: 100%;
        }

        .goals-icons-mobile img {
            box-sizing: border-box;
            padding: 10vw 0vw;
        }

        .home-pics-mobile img {
            width: 100%;
        }

        .intro-top, .intro-bottom {
            width: 92%;
        }

        .intro-bottom {
            box-sizing: border-box;
            padding: 0vw;
            margin-top: -2vw;
        }

        .home-pics-mobile .btn{
            width: 44vw;
            height: 9vw;
            border-radius: 1vw;
            box-shadow: 0px 2px 4px black;
            
            font-family: "SignPainter";
            font-size: 5vw;
            letter-spacing: 0.6vw;
            color: white;
            
        }

        #private-lessons-mobile {
            background: #D0012B;

            display: block;
            position: relative;
            
            z-index: 1;
            top: -26vw;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

        #party-lifeguard-mobile {
            background: #44B8F8;

            display: block;
            position: relative;

            z-index: 1;
            top: -20vw;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

        .goals-row {
            display: inline-block;
            margin: 0 auto;

        }

        .goals-col {
            box-sizing: border-box;
            padding: 10vw 0vw;
        }

        .goals-col img {
            padding-bottom: 10vw;
        }

        .goals-heading {
            font-size: 6vw;
        }

        .goals-text {
            width: 80%;
            font-size: 4vw;
            line-height: 5vw;
        }

        .certif-container-mobile {
            box-sizing: border-box;
            padding-top: 8vw;
            padding-left: 20vw;
        }

        .certif-row-mobile {
            box-sizing: border-box;
            padding: 10px 0px;
            width: 100%;
        }

        

        .certif-heading-mobile {
            font-family: "Megan June";
            font-size: 20px;
            color: #D0021B;

            letter-spacing: 1px;

            box-sizing: border-box;
            padding-left: 30px;
        }

        .come-swim {
            font-size: 19px;
        }

        /* PROGRAMS AND PRICES - MOBILE */

        .programs-title {
            width: 100%;
            font-size: 26px;
            box-sizing: border-box;
            padding: 0px 25px;
            padding-top: 25px;
            
        }

        .programs-container-mobile {
            box-sizing: border-box;
            padding: 20px 0px;
        }

        .programs-row-mobile {
            margin: 0 auto;
            box-sizing: border-box;
            padding: 20px 0px;
        }

        .programs-heading-mobile {
            font-family: "Megan June";
            font-size: 24px;
            color: #133A68;
        }

        .programs-description-mobile {
            font-family: "Poppins";
            font-size: 16px;
        }

        .programs-col-mobile-1 img {
            box-sizing: border-box;
            padding: 0px 0px 0px 30px;
        }

        .programs-col-mobile-2 {
            position: relative;
        }

        .programs-col-mobile-2 h4 {
            position: absolute;
            top: 25%;
            transform: translate(0, -50);
        }

        .programs-col-mobile-2 p {
            position: absolute;
            top: 50%;
            transform: translate(0, -50);
        }

        

        .skills-container-mobile {
            width: 80%;
            display: inline;

            text-align: center;
        }

        .skills-heading-mobile {
            font-family: "Megan June";
            font-size: 16px;
            color: #D0021B;
        }

        .swimmers-age {
            width: 80%;
            margin: 0 auto;
        }

        .swimmers-age p {
            font-size: 16px;
            line-height: 14px;
        }

        .dont-give-up-heading {
            font-size: 6vw;
        }

        .seven-lessons-heading {
            font-size: 8vw;
        }

        .dont-give-up-container {
            font-size: 4vw;
            line-height: 6vw;
            box-sizing: border-box;
            padding: 5vw;
        }

        .seven-lessons-container {
            width: 100%;
            font-size: 4vw;
            box-sizing: border-box;
            padding: 5vw;
        }

        .policies-container {
            width: 100%;
            margin: 0 auto;
        }

        .our-policies {
            font-size: 10vw;
            padding-top: 10vw;
        }

        .policies-heading {
            font-size: 8vw;
        }

        /* About Makenna */
        
        .body-top-sandy-mobile {
            background: linear-gradient(#F5DFBF, #FFFFFF);
        }

        .makenna-pic-mobile img {
            width: 50vw;
        }

        .about-makenna-title-mobile {
            width: 100%;
            display: inline-block;
            font-size: 9vw;

            box-sizing: border-box;
            padding: 8vw 0vw;
        }

        .about-makenna-text-container-mobile {
            font-family: "Freight";
            font-size: 4vw;
            text-align: left;
            line-height: 6vw;
            color: #133A68;
        }

        /* Contact Me */

        .contact-me-background {
            background: none;
            width: 100%;
            display: inline-block;
            padding: 0vw;
        }

        

        .form-container {
            width: 100%;
        }

        input[type=text] {
    
            display: block;
            overflow: auto;
            
            width: 100%;
            height: 7vw;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            
            margin-left: 0px;
            margin-top: 6px;
            margin-bottom: 16px;
            margin-right: 50px;
            resize: vertical;
        
        }

        #message-body {
            width: 100%;
        }

        .form-container {
            background: #ECECEC;
            width: 100%;
        }

        .form-bottom {
            padding-left: 10px;
        }

        .social-media-container-mobile {
            width: 80%;
            box-sizing: border-box;
            padding-top: 10px;
            padding-bottom: 30px;
           
        }
        .social-media-container-mobile img {
            width: 50%;
        }

        .map-mobile {
            width: 100%;
            height: 200px;
        }

        .map-caption-mobile {
            font-family: "Poppins";
            font-size: 12px;
            letter-spacing: 1px;
        }
     }

     
